/**
 *
 */

body {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}

h1 {

  margin: 0;
  padding: 1em 20%;
  font-family: "Verdana";
  font-weight: normal;
  color: white;
  background: #D09;
}

h1 strong {
  font-weight: bolder;
}

h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}

h4 {
  margin: 0;
  margin-bottom: 0.5em;
  padding-bottom: 5px;
  font-size: 2em;
  font-weight: normal;
  color: #777;
  border-bottom: 1px solid #888;
}

.ws {
  white-space: pre;
}

form.doppler-image-test {
  float: right;
  display: block;
}

#doppler-runner {
  padding: 0.5em 20%;
  background: #C08;
  margin-bottom: 1em;
}

#doppler-core {
  display: block;
  clear: both;
  text-align:left;
  font-size: 13px;
  line-height: 1.6em;
  padding: 0 20% 2em;
}

#doppler-status {
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  color: white;
  display:block;
  border-top: 2px solid #888;
  background: #AAA;
}

#doppler-epoch {
  padding:10px;
  display:block;
  border-top: 1px solid white;
  background: #A6DDFF;
}

#doppler-content {
  padding:10px;
  word-wrap: break-word;
  border-top: 1px solid #888
}

#doppler-footer {
  padding: 1em 20%;
  font-size: 0.7em;
  color: #777;
}

#doppler-footer-content {
  padding-top: 1em;
  border-top: 1px solid #AAA;
}

input.inputsubmit {
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  color: #666;
  cursor: pointer;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  line-height: 18px;
  padding: 2px 8px 2px 8px;
  background-color: #BBB;
  border: 1px solid #888;
  border-bottom-color: rgba(0,0,0,0.2);
  box-shadow: 0px 1px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 1px 0px rgba(0,0,0,0.2);
}

input.inputsubmit:hover {
  background: #CCC;
}

a.doppler-hidden-button {
  cursor: pointer;
  text-decoration: none;
}

a.doppler-hidden-button:hover {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

a.doppler-hidden-button:visited {
  cursor: pointer;
  text-decoration: none;
  color: white;
}